@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: #ffffff;
  --light-text: #121212;
  --dark-background: #121212;
  --dark-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark {
  --background-color: var(--dark-background);
  --text-color: var(--dark-text);
}

.light {
  --background-color: var(--light-background);
  --text-color: var(--light-text);
}

@layer base {
  html,
  body {
    @apply font-montserrat;
  }
  h1,
  h2 {
    @apply text-4xl font-normal;
  }

  p {
    @apply text-xl font-normal;
  }
}

@layer components {
  .container {
    @apply w-[min(100%,1200px)] mx-auto grid grid-cols-2 lg:grid-cols-1;
  }
}
